body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: url('gslogo.png' )no-repeat center center fixed ;
  background-size: cover;
  margin: 0;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;

}

.calculator {
  background: rgba(255, 255, 255, 0.9); /* Transparent white */
  padding: 30px 25px;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 900px;
  margin-top: px;
}

h1 {
  text-align: center;
  margin-bottom: 25px;
  font-size: 24px;
  color: #2c3e50;
}

.form-sections {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.form-left,
.form-right {
  flex: 1;
  min-width: 300px;
}

.input-group {
  margin-bottom: 15px;
  
}

label {
  font-weight: 600;
  display: block;
  margin-bottom: 5px;
  color: #555;
}

input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1.5px solid #ccc;
  border-radius: 8px;
  transition: border 0.3s;
}

input:focus {
  outline: none;
  border-color: #3498db;
}

.output {
  margin-top: 12px;
  font-size: 18px;
  font-weight: bold;
  color: #2c3e50;
}

.highlight {
  background: #d4edda;
  color: #155724;
  padding: 10px;
  border-radius: 8px;
  margin-top: 10px;
}

.high {
  background: #f8d7da;
  color: #721c24;
  padding: 10px;
  border-radius: 8px;
  margin-top: 10px;
}
